body {
    background-color:#FFFFFF;
    text-align: center;
}

*    {
    color: black;
}
a:hover {
    opacity: .7;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }